@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.wrapper{
    position: relative;
    display: inline-flex;
}

.title {
    position: absolute;
    top: 0px;
    left: -170px;
    display: inline-block;
    font-size: 50px;
    font-family: 'Bungee', monospace;
    margin: 0;
    line-height: 1;
    z-index: 1;
    color:#3f3e39;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    user-select: none;
}

[id='16'].title {
    left: -259px;
}

[id='23'].title {
    left: -322px;
}

@media only screen and (max-width: 400px) {

    [id='9'].title {
        position: static;
        writing-mode: horizontal-tb;
        transform: rotate(0);
        font-size: 35px;
    }
}

@media only screen and (max-width: 600px) {

    [id='16'].title {
        position: static;
        writing-mode: horizontal-tb;
        transform: rotate(0);
        font-size: 50px;
    }
}

@media only screen and (max-width: 450px) {

    [id='16'].title {
        font-size: 35px;
    }
}

@media only screen and (max-width: 780px) {

    [id='23'].title {
        position: static;
        writing-mode: horizontal-tb;
        transform: rotate(0);
        font-size: 70px;
    }
}

@media only screen and (max-width: 650px) {

    [id='23'].title {
        font-size: 60px;
    }
}

@media only screen and (max-width: 550px) {

    [id='23'].title {
        font-size: 50px;
    }
}

@media only screen and (max-width: 450px) {

    [id='23'].title {
        font-size: 35px;
    }
}

@media only screen and (max-height: 450px) {
    .title {
        font-size: 35px;
    }

    [id='9'].title {
        left: -156px;
    }

    [id='16'].title {
        left: -245px;
    }
    
    [id='23'].title {
        left: -308px;
    }
}

@media (max-width: 400px) and (max-height: 385px) {
    [id='9'].title {
        display: none;
     }
}

@media (max-width: 600px) and (max-height: 425px) {
    [id='16'].title {
        display: none;
     }
}

@media (max-width: 780px) and (max-height: 615px) {
    [id='23'].title {
        display: none;
     }
}
